USE [master]
GO
/****** Object:  Database [PhysiosoftDB]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE DATABASE [PhysiosoftDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhysiosoftDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhysiosoftDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhysiosoftDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhysiosoftDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhysiosoftDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhysiosoftDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/24/2023 12:31:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTS]    Script Date: 12/24/2023 12:31:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTS](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
	[physio_id] [int] NULL,
	[appointment_date] [datetime2](7) NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[appointment_status] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[patient_issue] [nvarchar](500) NOT NULL,
	[has_scans] [bit] NOT NULL,
 CONSTRAINT [PK__APPOINTMENT] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENTS]    Script Date: 12/24/2023 12:31:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTS](
	[patient_id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NOT NULL,
	[telephone] [nvarchar](50) NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[vat] [nvarchar](9) NULL,
	[ssn] [nvarchar](11) NOT NULL,
	[reg_num] [nvarchar](9) NULL,
	[notes] [nvarchar](max) NULL,
	[email] [nvarchar](50) NULL,
	[has_reviewed] [bit] NOT NULL,
	[patient_issue] [nvarchar](500) NULL,
 CONSTRAINT [PK__PATIENTS__4D5CE4769C9C68C2] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHYSIOS]    Script Date: 12/24/2023 12:31:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHYSIOS](
	[physio_id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](50) NOT NULL,
	[lastname] [nvarchar](50) NULL,
	[telephone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__PHYSIOS__8BB9145E55AAA5F5] PRIMARY KEY CLUSTERED 
(
	[physio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12/24/2023 12:31:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[is_admin] [bit] NOT NULL,
 CONSTRAINT [PK__USERS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [appointment_date]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE NONCLUSTERED INDEX [appointment_date] ON [dbo].[APPOINTMENTS]
(
	[appointment_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_APPOINTMENTS_physio_id]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_APPOINTMENTS_physio_id] ON [dbo].[APPOINTMENTS]
(
	[physio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [patient_id]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE NONCLUSTERED INDEX [patient_id] ON [dbo].[APPOINTMENTS]
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PATIENTS_LASTNAME]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_PATIENTS_LASTNAME] ON [dbo].[PATIENTS]
(
	[lastname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PATIENTS_SSN]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_PATIENTS_SSN] ON [dbo].[PATIENTS]
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PHYSIOS_Lastname]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_PHYSIOS_Lastname] ON [dbo].[PHYSIOS]
(
	[lastname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PHYSIOS_TELEPHONE]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_PHYSIOS_TELEPHONE] ON [dbo].[PHYSIOS]
(
	[telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [email]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [email] ON [dbo].[USERS]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [username]    Script Date: 12/24/2023 12:31:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [username] ON [dbo].[USERS]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPOINTMENTS] ADD  DEFAULT (CONVERT([bit],(0))) FOR [has_scans]
GO
ALTER TABLE [dbo].[PATIENTS] ADD  DEFAULT (CONVERT([bit],(0))) FOR [has_reviewed]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_admin]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patients] FOREIGN KEY([patient_id])
REFERENCES [dbo].[PATIENTS] ([patient_id])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_Appointments_Patients]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Physios] FOREIGN KEY([physio_id])
REFERENCES [dbo].[PHYSIOS] ([physio_id])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_Appointments_Physios]
GO
USE [master]
GO
